{% extends 'themes/base_admin.html.twig' %}

{% block title %}Nouvelle article{% endblock %}

{% block description %}Formulaire de création d'un article du tableau de bord{% endblock %}

{% block keywords %}ajouter, article, admin{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Nouvelle article</h1>

{% endblock %}